.cafe {
  width: 100vw;
  height: 1725px;
  background-color: #FBE9C1;
}

.cafe .wrap {
  position: relative;
}

.cafe .contents {
  position: absolute;
  top: 672px;
  right: 129px;
  font-family: Noto Serif JP;
  font-weight: bold;
  color: #000;
}

.cafe .title {
  font-size: 48px;
  text-shadow: 5px 4px 4px #FFF;
}

.cafe .message {
  margin-top: 42px;
  font-size: 18px;
}

.cafe .cream {
  position: absolute;
  top: 0px;
  left: 554px;
}

.cafe .teapot {
  position: absolute;
  top: 219px;
  right: 0px;
}

.cafe .steam {
  position: absolute;
  top: 388.05px;
  left: 8.41px;
}

.cafe .tea {
  position: absolute;
  top: 1345px;
  left: 697px;
}

.cafe .strawberry-tart {
  position: absolute;
  top: 133px;
  left: 67px;
}

.cafe .strawberry-parfait {
  position: absolute;
  top: 598px;
  left: 1px;
}

.cafe .pastries {
  position: absolute;
  top: 1032px;
  left: 183px;
}

