.menu {
  width: 100vw;
  height: 2600px;
  background-image: url(/menu_photo/background.png);
  background-repeat: no-repeat;
}

.menu .wrap {
  padding: 100px 60px;
  font-weight: Regular;
}

.menu .title {
  font-family: Pattaya;
  color: #fff;
  -webkit-text-stroke: 2.5px #ffbb28;
  font-size: 48px;
  text-align: center;
  text-shadow: 4px 4px 5px #000;
}

.menu .info-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 95px;
}

.menu .info-wrap:nth-child(even) {
  flex-direction: row-reverse;
}

.menu .cake-info {
  width: 615px;
  height: 400px;
  padding: 51px 68px 66px 68px;
  font-family: Noto Sans JP;
  font-size: 15px;
  border-radius: 15px;
  box-shadow: 10px 15px 8px rgba(0, 0, 0, 0.25);
}

.menu .shortcake-info {
  background: linear-gradient(to right, #FFDFDF, #FFC8C8);
}
.menu .cheesecake-info {
  background: linear-gradient(to right, #FFFEE5, #FFFED4);
}
.menu .chocolatecake-info {
  background: linear-gradient(to right, #CCF1FF, #BFEEFF);
}
.menu .canele-info {
  background-color: #DCFFBF;
}

.menu .cake-title {
  font-family: Noto Serif JP;
  font-weight: bold;
  font-size: 32px;
  width: 520px;
}

.menu .cake-content {
  margin-top: 39px;
  width: 500px;
}

.menu .table {
  margin-top: 30px;
}

.menu .header {
  border-radius: 5px;
  color: #fff;
  font-weight: normal;
  text-shadow: 1px 1px #000;
}
.menu .data {
  padding-left: 15px;
}

.menu .shortcake-info .header {
  background-color: #FF5555;
  opacity: 0.65;
}
.menu .cheesecake-info .header {
  background-color: #FFA155;
  opacity: 0.65;
}
.menu .chocolatecake-info .header {
  background-color: #556BFF;
  opacity: 0.65;
}
.menu .canele-info .header {
  background-color: #7BE625;
}